# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio files
*.opensdf
*.sdf
*.suo
*.user
/libs/sqlite/vs/Debug
/libs/sqlite/vs/ipch